# Upon release, build Chrome and Firefox packages and upload both zips to the Release
name: Create Extension Zip

on:
  release:
    types:
      - created

jobs:
  create-and-upload-zip:
    name: Create and Upload ZIP
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Chrome and Firefox packages
        run: npm run build

      - name: Create Chrome ZIP
        run: cd dist/chrome && zip -r ../../test-cards-chrome.zip .

      - name: Create Firefox ZIP
        run: cd dist/firefox && zip -r ../../test-cards-firefox.zip .

      - name: Upload release binaries
        uses: alexellis/upload-assets@0.4.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./test-cards-chrome.zip", "./test-cards-firefox.zip"]'
